body {
    margin: 0px;
    font-family: "Space Grotesk", ui-sans-serif, system-ui;
}

.header {
    background-color: #090820;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header span {
    margin: 0px;
    color: white;
    font-weight: bold;
}

.catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    border: 2px solid black;
}